*, :after, :befor{
    box-sizing: border-box
}
body{
    color:white;
}
html{
    font-family: 'Oswald';
    font-size: 16px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: block;
    color: white;
}
#root{
    max-width: 837px;
    margin: 25px auto;
    display: flex;
    padding: 15px;
    flex-direction: column;
    background: #3f474a;
}